<div class="card">
    <h1>
        Registration Successful
    </h1>
    <h6>
        Before you can login, please confirm your email by clicking
        in the confirmation link we have just sent you
    </h6>
</div>

