

@section Breadcrumb{
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Home" asp-action="AboutUs">About Us</a></li>
}

<h3>Software Engineering Final Project</h3>
<div class="center-block">
    <ul>
        <li>Claudia Olavarrieta Martinez</li>
        <li>Marcos Adrian Valdivie Rodriguez</li>
        <li>Adrian Hernandez Rodriguez</li>
    </ul>
</div>