
@section Breadcrumb{
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Home" asp-action="FAQ">FAQ</a></li>
}

<div class="center-block">
    Frequent Questions Here!!!!
</div>